/** @format */

:root {
  --green: #1db954;
  --offGreen: #1ed760;
  --blue: #509bf5;
  --navBlack: #040306;
  --black: #181818;
  --white: #ffffff;
  --lightestGrey: #b3b3b3;
  --lightGrey: #9b9b9b;
  --grey: #404040;
  --darkGrey: #282828;
  --font-primary: "Roboto", sans-serif;
  --fz-base: 16px;
  --fz-xs: 12px;
  --fz-sm: 14px;
  --fz-md: 20px;
  --fz-lg: 24px;
  --fz-xl: 28px;
  --fz-xxl: 32px;
  --sp-base: 20px;
  --sp-xs: 5px;
  --sp-sm: 10px;
  --sp-md: 30px;
  --sp-lg: 50px;
  --sp-xl: 100px;
  --navWidth: 110px;
  --navHeight: 70px;
  --transition: all 0.25s cubic-bezier(0.3, 0, 0.4, 1);
}
.body {
  background-color: var(--darkGrey);
}
.Logo {
  color: var(--green);
  margin-top: 30px;
  width: 80px;
  height: 70px;
  transition: var(--transition);
}
.Logo svg {
  fill: var(--green);
  width: 50px !important;
  transition: var(--transition);
}
.Logo svg:hover {
  fill: var(--offGreen);
}
.Github svg {
  fill: var(--lightGrey);
  width: 35px;
  height: 35px;
  margin-bottom: 40px;
}
.Github svg:hover {
  fill: var(--blue);
}
.Menu svg {
  width: 22px;
  height: 30px;
  margin-bottom: 7px;
  fill: var(--lightGrey);
}
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  width: 100%;
}
li {
  color: var(--lightGrey);
  font-size: 11px;
  width: 100%;
  height: 100%;
}
body {
  background-color: var(--black);
}
li a {
  display: block;
  padding: 15px 0;
  border-left: 5px solid transparent;
  width: 100%;
  height: 100%;
  transition: all 0.4s ease-out;
}
li:hover svg path,
li:hover {
  fill: var(--white);
}
li a:hover,
:focus,
.active {
  background-color: var(--black);
  border-left: 5px solid var(--offGreen);
}
li:hover,
:focus,
.active svg {
  fill: var(--white);
}

.Menu div {
  color: var(--lightGrey);
}
.Menu a {
  text-decoration: none;
}
.navContainer {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: var(--navWidth);
  text-align: center;
  z-index: 99;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: var(--navBlack);
}
