/** @format */

:root {
  --green: #1db954;
  --offGreen: #1ed760;
  --blue: #509bf5;
  --navBlack: #040306;
  --black: #181818;
  --white: #ffffff;
  --lightestGrey: #b3b3b3;
  --lightGrey: #9b9b9b;
  --grey: #404040;
  --darkGrey: #282828;
  --font-primary: "Roboto", sans-serif;
  --fz-base: 16px;
  --fz-xs: 12px;
  --fz-sm: 14px;
  --fz-md: 20px;
  --fz-lg: 24px;
  --fz-xl: 28px;
  --fz-xxl: 34px;
  --sp-base: 20px;
  --sp-xs: 5px;
  --sp-sm: 10px;
  --sp-md: 30px;
  --sp-lg: 50px;
  --sp-xl: 100px;
  --navWidth: 110px;
  --navHeight: 70px;
  --transition: all 0.25s cubic-bezier(0.3, 0, 0.4, 1);
}
.App {
  height: 100%;
  min-height: 100vh;
}

.Logo {
  color: var(--green);
  margin-top: 30px;
  width: 80px;
  height: 70px;
  transition: var(--transition);
}
.Logo svg {
  fill: var(--green);
  width: 50px !important;
  transition: var(--transition);
}
.Logo svg:hover {
  fill: var(--offGreen);
}
.Github svg {
  fill: var(--lightGrey);
  width: 35px;
  height: 35px;
  margin-bottom: 40px;
}
.Github svg:hover {
  fill: var(--blue);
}
.Menu svg {
  width: 22px;
  height: 30px;
  margin-bottom: 7px;
  fill: var(--lightGrey);
  padding-top: 5px;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  width: 100%;
}
li {
  color: var(--lightGrey);
  font-size: 11px;
  width: 100%;
  height: 100%;
}
body {
  background-color: var(--black);
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
}
li a {
  display: block;
  padding: 10px 0;
  border-left: 5px solid transparent;
  width: 100%;
  height: 100%;
  transition: all 0.4s ease-out;
}
li:hover svg path,
li:hover {
  fill: var(--white);
}
li a:hover,
:focus,
.active {
  background-color: var(--black);
  border-left: 4px solid var(--offGreen);
}
li:hover,
:focus,
.active svg {
  fill: var(--white);
}

.Menu div {
  color: var(--lightGrey);
}
.Menu a {
  text-decoration: none;
}
.navContainer {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: var(--navWidth);
  text-align: center;
  z-index: 99;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: var(--navBlack);
}
@media (max-width: 768px) {
  .Github {
    display: none;
  }
  .Logo {
    display: none;
  }
}
@media (max-width: 768px) {
  .Menu {
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
  }
  li a {
    text-align: center;
    border-left: 0px;
  }
  li a:hover,
  :focus,
  .active {
    background-color: var(--black);
    border-top: 3px solid var(--offGreen);
    border-left: 0px;
  }
}
@media (max-width: 768px) {
  .navContainer {
    top: auto;
    bottom: 0;
    right: 0;
    width: 100%;
    min-height: var(--navHeight);
    height: var(--navHeight);
    flex-direction: row;
  }
  * > {
    height: 100%;
  }
  .Menu svg {
    padding-top: 2px;
  }
}
.Login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}
.Login h1 {
  font-size: var(--fz-xxl);
  color: var(--white);
  font-weight: bolder;
}
.LoginButton {
  display: inline-block;
  background-color: var(--green);
  color: var(--white);
  border-radius: 30px;
  padding: 22px 35px;
  margin: 20px 0 70px;
  min-width: 160px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  transition: var(--transition);
  text-decoration: none;
}

.LoginButton:hover {
  background-color: var(--offGreen);
  cursor: pointer;
}
.user {
  color: white;
  text-align: center;
}
.LogoutButton {
  background-color: transparent;
  color: var(--white);
  border: 1px solid var(--white);
  border-radius: 30px;
  margin-top: 30px;
  padding: 12px 30px;
  font-size: var(--fz-sm);
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  transition: var(--transition);
}
.LogoutButton:hover {
  background-color: var(--white);
  color: var(--black);
}
.Main {
  margin-left: var(--navWidth);
  padding: 80px;
  height: 800px;
}
@media (max-width: 1200px) {
  .Main {
    padding: 60px 50px;
  }
}
@media (max-width: 768px) {
  .Main {
    padding: 50px 40px;
    margin-left: 0;
  }
}

@media (max-width: 480px) {
  .Main {
    padding: 30px 25px;
  }
}
@media (max-width: 376px) {
  .Header {
    margin: 0 auto;
  }
}
.Header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
