/** @format */

:root {
  --green: #1db954;
  --offGreen: #1ed760;
  --blue: #509bf5;
  --navBlack: #040306;
  --black: #181818;
  --white: #ffffff;
  --lightestGrey: #b3b3b3;
  --lightGrey: #9b9b9b;
  --grey: #404040;
  --darkGrey: #282828;
}

